/*
/* Color Theme Swatches in Hex */
.Synthwave-City:-Vibrant-Neon-Cyberpunk-Pixel-Art-1-hex { color: #F22EAE; }
.Synthwave-City:-Vibrant-Neon-Cyberpunk-Pixel-Art-2-hex { color: #F249E7; }
.Synthwave-City:-Vibrant-Neon-Cyberpunk-Pixel-Art-3-hex { color: #772B8C; }
.Synthwave-City:-Vibrant-Neon-Cyberpunk-Pixel-Art-4-hex { color: #221959; }
.Synthwave-City:-Vibrant-Neon-Cyberpunk-Pixel-Art-5-hex { color: #2C4373; }

/* Color Theme Swatches in RGBA */
.Synthwave-City:-Vibrant-Neon-Cyberpunk-Pixel-Art-1-rgba { color: rgba(242, 46, 173, 1); }
.Synthwave-City:-Vibrant-Neon-Cyberpunk-Pixel-Art-2-rgba { color: rgba(242, 72, 230, 1); }
.Synthwave-City:-Vibrant-Neon-Cyberpunk-Pixel-Art-3-rgba { color: rgba(119, 43, 140, 1); }
.Synthwave-City:-Vibrant-Neon-Cyberpunk-Pixel-Art-4-rgba { color: rgba(33, 24, 89, 1); }
.Synthwave-City:-Vibrant-Neon-Cyberpunk-Pixel-Art-5-rgba { color: rgba(43, 67, 114, 1); }

 Color Theme Swatches in HSLA 
.Synthwave-City:-Vibrant-Neon-Cyberpunk-Pixel-Art-1-hsla { color: hsla(320, 88, 56, 1); }
.Synthwave-City:-Vibrant-Neon-Cyberpunk-Pixel-Art-2-hsla { color: hsla(303, 86, 61, 1); }
.Synthwave-City:-Vibrant-Neon-Cyberpunk-Pixel-Art-3-hsla { color: hsla(286, 52, 36, 1); }
.Synthwave-City:-Vibrant-Neon-Cyberpunk-Pixel-Art-4-hsla { color: hsla(247, 56, 22, 1); }
.Synthwave-City:-Vibrant-Neon-Cyberpunk-Pixel-Art-5-hsla { color: hsla(219, 44, 31, 1); }

*/
a{
    text-decoration: none !important;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.header{
    background-color: #221959;
}

.link-header{
    font-size: 0.999rem;
}

.contenido-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-publicacion{
    box-shadow: 2px , 3px ,2px, 3px black;
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.perfil{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1fr,auto);
    align-items: center;
    justify-content: center;
    padding: 28px;
}

.img_perfil{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}

.footerClass{
    background-color: #212529;
    padding: 35px;
    margin-top: auto;
    right: 0;
    left: 0;
    position: absolute;
    bottom: 0;
}

.footerClass .Redes-Sociales{
    text-align: center;
    padding-bottom: 25px;
    color: #2C4373;
}

.footerClass .Redes-Sociales a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #2C4373;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    margin-top: 25px;
}

.footerClass .Redes-Sociales a:hover{
    color: #2857be;
}

.footerClass .derechos{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: white;
}


.body_buscar{
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.search-container {
    text-align: center;
    margin-top: 100px;
    align-items: center;
}

.busqueda{
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #221959;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2C4373;
}

.titulo{
    text-align: center;
    font-size: 40px;
    font-family: 'Noto Sans Osmanya', sans-serif;
    margin-top: 100px;
    font-weight: 100;
}

html{
    height: 100%;
    box-sizing: border-box;
}

body{
    font-family: 'Sarabun', sans-serif;
    font-weight: lighter;
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 15.74rem;
    box-sizing: inherit;
}

.sin_resultados{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.img-fluid {
    border: 3px solid #f4f4f4;
}

.card_usuario ,card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card_usuario ,card-header {
    border-radius: 15px 15px 0 0;
}
.img-fluid {
    border: 3px solid #f4f4f4;
}
h2, h4, h5 {
    font-weight: 500;
}

.container-verification {
    font-family: Arial, sans-serif;
    max-width: 300px;
    margin: auto;
}

.upload-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 2px solid #c1c1c1;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
    transition: border-color 0.2s;
}

.upload-box:hover {
    border-color: #8a8a8a;
}

.upload-label {
    z-index: 1;
}

.upload-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: #c1c1c1;
    font-size: 18px;
}

.upload-input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 0;
}

.bg-personalizado{
    background-color: #221959;
}

.logo{
    font-family: 'Cinzel', serif;
    font-family: 'Lora', serif;
    font-family: 'Noto Sans Osmanya', sans-serif;
    font-family: 'Raleway', sans-serif;

    font-weight: 400;
}

a {
    text-decoration: none !important;
}



.badge-destacado {
    background-color: #c1bd00; /* Color dorado para destacado */
    z-index: 10; /* Un valor más alto que cualquier otro elemento con el que pueda solaparse */
    color: #FFF;
    border-radius: 0px;
}
.badge-recomendado {
    background-color: #32cd32b2; /* Color verde para recomendado */
    z-index: 10; /* Un valor más alto que cualquier otro elemento con el que pueda solaparse */
    color: #FFF;
    border-radius: 0px;
}

.card_registro{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.imagen_publicacion{
    background-position: center;
    background-size: cover;
    height: 280px;
    width: 85%;
    border-radius: 12px;
    border: 1px solid rgba(75, 75, 75, 0.255);
    margin-top: 20px;
}

.publicacion{
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 10px;
    filter: drop-shadow(1px 3px 6px);
}

.boton{
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;
    font-size: 1.0rem;  
    letter-spacing: 1px;  
    cursor: pointer;
    background-color: #221959;
}

.boton:hover{
    transform: scale(1.125);  
    border-color: #2a1d81;
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
    transition: all .3s ease;  
}

.texto{
    text-align: center;
    font-size: 0.9rem;
    line-height: 130%;
    letter-spacing: 1px;
    font-weight: 400;
}

.icon_error{
    width: 75px;
    color: #212529;
}

.contenedor-cartel{
    box-shadow: 1px 3px 5px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding: 13px;
  }
  
  .titulo-cartel{
      color: black;
      padding-bottom: 3px;
  }
  
  .icono-cartel{
     margin-bottom: 2.50px;
  }
  
  .enlace-cartel{
     text-decoration: none;
     color: white;
  }
  
  .enlace-cartel:hover{
      color: white;
  }
  
  
  .boton-cartel{
      background-color: #462afe;
      border-radius: 4px;
      width: 30%;
      height: 12%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: white;
  }
  
  .boton-cartel:hover{
      background-color: #2a1d81;
      transition: all .3s ease;
      color: white;
  }

  .cabecera-perfil {
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    filter: drop-shadow(1px 5px 4px rgba(0,0,0,0.3));
}
.cabecera-perfil .cuerpo-perfil {
    font-size: 14px;
    color: #424242;
    padding: 20px;
    font-weight: 400;
}
.pagina-perfiles .cabecera-perfil {
    position: relative
}

.pagina-perfiles .cabecera-perfil .perfil-imagen img{
    border-radius: 50%;
    width: 200px;
    border: 3px solid #fff;
    float: left;
    margin-left: 85px;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.contenido_perfiles{
    
    background-color:#b0b0b0;    
}

